<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search result</title>
</head>
<body>
    <h1>Search result</h1>
    <div><% if (user) {%></div>
    <div>ID: <%= user.id %>, <br> Name: <%= user.firstName %> <%= user.lastName %> <br> Email: <%= user.email %> <br> Age: <%= user.age %> <br> Bio: <%= user.bio %></div>
    <%} else {%>
        <div>Oops! No matches found.</div>
       <%}%>
    <a href="../">Home</a>
</body>
</html>